$body: rgb(251, 233, 255);

$title: rgb(238, 238, 238);
$titleBackground: rgb(43, 43, 43);

$gameBody: rgb(255, 255, 255);

$sideControls: rgb(43, 43, 43);

$gameWinner: rgb(43, 43, 43);
$gameWinnerText: rgb(255, 255, 255);